@import "variables";

.card {
  padding: 1rem;
  border: none;
  box-shadow: 5px 5px $clr-gray-3;

  &::before {
    content: attr(label);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background: $clr-white-1;
    color: $clr-black-1;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    text-transform: capitalize;
    padding: 0.5rem 1rem 0 1rem;
    letter-spacing: $letter-spacing;
    font-size: 1rem;
  }
}

.table-name {
  padding: 0.5rem;
}

table {
  box-shadow: 5px 5px $clr-gray-2;
}

.table-head {
  background-color: $clr-gray-1;
}

.total-row {
  margin-bottom: 1rem;
  background-color: $clr-gray-1;
  border-bottom: 2px solid transparent;
}

tr {
  text-align: center;
  border-top: 2px solid transparent;
}

.total-reward-points {
  margin-top: 1rem;
  text-align: center;
  padding: 0.2rem;
  background-color: $clr-gray-1;
}
