.cust-transaction-details-container .heading {
  background-color: white;
  padding: 1rem;
  text-align: center;
}

.cust-transaction-details-wrapper {
  display: grid;
  padding: 3rem;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  column-gap: 1rem;
  row-gap: 3rem;
}
@media (max-width: 720px) {
  .cust-transaction-details-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .cust-transaction-details-wrapper {
    grid-template-columns: 1fr;
  }
}